html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    margin: 0px auto;
}

button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: unset !important;
}
a:hover {
    color: unset;
}

.bg-blue-1 {
    background-color: #2F80ED;
}
.bg-tomato-1 {
    background-color: #FF1654;
}
.bg-purple-1 {
    background-color: #9B51E0;
}

/* NAV */
#nav {
    height: 98px;
    width: 100%;
    display: flex;
    background-color: #EEFCFB;
    padding: 0px 90px;
}
#nav .nav-ba-logo {
    flex-basis: 15%;
    display: flex;
    align-items: center;
}
#nav .nav-ba-link {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav .nav-ba-link a {
    padding: 0px 15px;
    font-size: 15px;
    color: #25282B;
}
#nav .nav-ba-icon {
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#nav .nav-ba-icon a {
    padding: 0px 15px;
}
#nav .nav-ba-button {
    flex-basis: 50%;
    display: none;
    justify-content: flex-end;
    align-items: center;
}
/* RESPONSIVE NAV */
@media (max-width: 1100px) {
    #nav {
        padding: 0px 48px;
    }
    #nav .nav-ba-link a {
        padding: 0px 12.5px;
        font-size: 14px;
    }
    #nav .nav-ba-icon a {
        padding: 0px 12.5px;
    }
}
@media (max-width: 991px) {
    #nav {
        padding: 0px 24px;
    }
    #nav .nav-ba-link a {
        padding: 0px 8px;
        font-size: 12px;
    }
    #nav .nav-ba-icon a {
        padding: 0px 8px;
    }
}
@media (min-width: 768px) {
    #nav .nav-ba-link {
        display: flex !important;
    }
}
@media (max-width: 767px) {
    #nav {
        height: 88px;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        padding: 0px 32px;
        z-index: 100;
    }
    #nav .nav-ba-link, #nav .nav-ba-icon {
        display: none;
    }
    #nav .nav-ba-link {
        background-color: #EEFCFB;
        max-height: 100vh;
        width: 100%;
        position: absolute;
        top: 88px;
        left: 0px;
        text-align: center;
        padding: 1rem 24px;
        overflow-y: auto;
    }
    #nav .nav-ba-link a {
        display: block;
        padding: 0.75rem 1rem;
        font-size: 18px;
    }
    #nav .nav-ba-link a.nav-ba-link-masuk {
        background-color: #3366FF;
        font-weight: 600;
        font-size: 22px;
        color: #fff;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
    #nav .nav-ba-link a.nav-ba-link-buku {
        background-color: #fff;
        font-weight: 600;
        font-size: 22px;
        color: #222B45;
        margin-bottom: 1.5rem;
    } 
    #nav .nav-ba-logo {
        flex-basis: 50%;
        justify-content: flex-start;
    }
    #nav .nav-ba-button {
        display: flex;
    }
}

#main {
    padding: 48px 72px;
    background-color: #fff;
}
#main h1 {
    font-weight: 600;
    font-size: 36px;
    color: #25282B;
}
#main h2 {
    font-weight: 700;
    font-size: 26px;
    color: #25282B;
}
#main label {
    font-weight: 700;
    font-size: 12px;
    color: #25282B;
    text-transform: uppercase;
}
#main label.custom-control-label {
    font-weight: 600;
    font-size: 15px;
    color: #25282B;
    text-transform: unset;
}
#main .form-control {
    background-color: #F7F9FC;
    border-color: #F7F9FC;
    border-radius: 4px;
    resize: none;
}
#main ::placeholder {
    font-size: 15px;
    line-height: 20px;
    color: #8F9BB3;
}
#main button {
    background-color: #3366FF;
    padding: 0.5rem 1.2rem;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
#form-mobile {
    display: none;
}
@media (max-width: 1100px) {
    #main h1 {
        font-size: 28px;
    }
    #main h2 {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    #main {
        padding: 128px 24px 64px;
    }
    #main h1 {
        font-size: 18px;
    }
    #main #form-desktop {
        display: none;
    }
    #form-mobile {
        display: flex;
    }
    #form-mobile h2 {
        font-size: 18px;
    }
    #form-mobile label {
        font-size: 12px;
    }
    #form-mobile button {
        width: 100%;
    }
    #step-form-ba {
        position: relative;
        display: flex;
        width: 100%;
        padding: 0px 24px;
    }
    #step-form-ba .bg-white {
        height: 45px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    #step-form-ba .line-1 {
        width: calc(100% - 104px);
        height: 1px;
        display: block;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #A0A4A8;
    }
    #step-form-ba .line-2 {
        width: calc(33.33% - 72px);
        height: 1px;
        display: block;
        position: absolute;
        top: 25px;
        left: calc(50% + 102px);
        transform: translateX(-50%);
        background-color: #A0A4A8;
    }
    #step-form-ba > div {
        flex-basis: 33.33%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    #step-form-ba .step-1 {
        display: flex;
        justify-content: center;
    }
    #step-form-ba .step-2 {
        display: flex;
        justify-content: center;
    }
    #step-form-ba .step-3 {
        display: flex;
        justify-content: center;
    }
    #step-form-ba .step-circle-1, #step-form-ba .step-circle-2, #step-form-ba .step-circle-3 {
        height: 50px;
        display: flex;
        align-items: center;
    }
    #step-form-ba .step-circle-2 {
        justify-content: center;
    }
    #step-form-ba .step-circle-3 {
        justify-content: flex-end;
    }
    #step-form-ba .step-circle-1 .circle-ba, #step-form-ba .step-circle-2 .circle-ba, #step-form-ba .step-circle-3 .circle-ba {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #8F9BB3;
        background-color: rgba(143, 155, 179, 0.08);
        font-weight: 700;
        font-size: 12px;
        color: #CACCCF;
    }
    #step-form-ba .step-circle-1 .circle-ba.active, #step-form-ba .step-circle-2 .circle-ba.active, #step-form-ba .step-circle-3 .circle-ba.active {
        border: 1px solid #3366FF;
        background-color: rgba(51, 102, 255, 0.08);
        color: #25282B;
    }
    #step-form-ba .step-text {
        height: 50px;
        padding: 0px 5px;
        font-size: 12px;
        font-weight: 600;
        color: #A0A4A8;
    }
    #step-form-ba .step-text.active {
        color: #25282B;
    }
    #form-mobile .form-step-1, #form-mobile .form-step-2, #form-mobile .form-step-3 {
        display: none;
    }
    #form-mobile .form-step-1.active, #form-mobile .form-step-2.active, #form-mobile .form-step-3.active {
        display: block !important;
    }
}

/* FOOTER */
#footer {
    padding: 72px 64px;
    background-color: #fff;
}
#footer h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 27px;
    color: #25282B;
}
#footer p {
    font-size: 18px;
    color: #52575C;
}
#footer .nav-link {
    padding: 0px 0rem;
    font-size: 20px;
    color: #52575C;
}
#footer .footer-facebook, #footer .footer-twitter {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
}
#footer .footer-facebook {
    background-color: #EEFCFB;
    box-shadow: 0px 4px 9px rgba(15, 139, 130, 0.25);
}
#footer .footer-twitter {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 9px #D6EBEA;
}
#footer .footer-facebook span, #footer .footer-twitter span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* DESIGN BY */
#design-by {
    background-color: #F8F8F8;
    padding: 30px 0px;
}
#design-by h6 {
    text-align: center;
    font-size: 15px;
    color: #25282B;
}

/* RESPONSIVE FOOTER & DESIGN BY */
@media (max-width: 991px) {
    #footer {
        padding: 72px 48px;
    }
    #footer h3 {
        font-size: 24px;
    }
    #footer p {
        font-size: 16px;
    }
    #footer .nav-link {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    #footer {
        padding: 72px 32px;
    }
}
@media(max-width: 767px) {
    #footer {
        padding: 72px 32px;
    }
    #footer h3 {
        font-size: 18px;
    }
    #footer p {
        font-size: 15px;
    }
    #footer .nav-link {
        font-size: 15px;
    }
    #design-by h6 {
        font-size: 15px;
    }
}